    <body ng-controller="testeCtrl">
        
		<!-- START PAGE CONTAINER -->
		<div class="page-container">
			
			<!-- START PAGE SIDEBAR -->
			<div class="page-sidebar">
				<!-- START X-NAVIGATION -->
				<ul class="x-navigation">
					<li class="xn-logo">
						<a href="index.html">Teste</a>
						<a href="#" class="x-navigation-control"></a>
					</li>                                                                      
					<li class="xn-profile">
						<a href="#" class="profile-mini">
							<img src="assets/images/users/no-image.jpg" alt="John Doe"/>
						</a>
						<div class="profile">
							<div class="profile-image">
								<img src="assets/images/users/no-image.jpg" alt="John Doe"/>
							</div>
							<div class="profile-data">
								<div class="profile-data-name">Nome do Usuário</div>                                
							</div>
						</div>                                                                        
					</li>
					<li class="active">
						<a href="#/inicio"><span class="fa fa-home"></span> <span class="xn-text">Início</span></a>
					</li>        
					<li>
						<a href="#/agenda"><span class="fa fa-calendar"></span> <span class="xn-text">Agenda</span></a>
					</li>        
					<li>
						<a href="#/comunicados"><span class="fa fa-bullhorn"></span> <span class="xn-text">Comunicados</span></a>
					</li> 
					<li>
						<a href="#/estatuto"><span class="fa "></span> <span class="xn-text">Estatuto</span></a>
					</li> 					
					<li>
						<a href="#/eventos"><span class="fa fa-fire"></span> <span class="xn-text">Eventos</span></a>
					</li> 					
					<li>
						<a href="#/finanças"><span class="fa fa-money"></span> <span class="xn-text">Finanças</span></a>
					</li> 					
					<li>
						<a href="#/fotos"><span class="fa fa-camera"></span> <span class="xn-text">Fotos</span></a>
					</li> 					
					<li>
						<a href="#/jogos"><span class="fa "></span> <span class="xn-text">Jogos</span></a>
					</li> 					
					<li>
						<a href="#/mensagens"><span class="fa fa-comments-o"></span> <span class="xn-text">Mensagens</span></a>
					</li> 					
					<li>
						<a href="#/promocoes"><span class="fa fa-gift"></span> <span class="xn-text">Promoções</span></a>
					</li> 					
					<li>
						<a href="#/videos"><span class="fa fa-video-camera"></span> <span class="xn-text">Vídeos</span></a>
					</li> 					
					<li>
						<a href="#/sair"><span class="fa fa-sign-out"></span> <span class="xn-text">Sair</span></a>
					</li> 					
				</ul>
				<!-- END X-NAVIGATION -->
			</div>
			<!-- END PAGE SIDEBAR -->
			
			<!-- PAGE CONTENT -->
			<div class="page-content">
				
				<!-- START X-NAVIGATION VERTICAL -->
				<ul class="x-navigation x-navigation-horizontal x-navigation-panel">
					<!-- TOGGLE NAVIGATION -->
					<li class="xn-icon-button">
						<a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
					</li>
					<!-- END TOGGLE NAVIGATION -->                    
				</ul>
				<!-- END X-NAVIGATION VERTICAL -->                     
				
				<!-- START BREADCRUMB -->
				<ul class="breadcrumb">
					<li>Maracabarro FC</li>                    
					<li class="active">Início</li>
				</ul>
				<!-- END BREADCRUMB -->                
				
				<div class="page-title">                    
					<h2>
						<span class="fa fa-arrow-circle-o-left"></span> Início
					</h2>
				</div>                   
				
				<!-- PAGE CONTENT WRAPPER -->
				<div class="page-content-wrap">
									
					<!-- START WIDGETS -->                    
					<div class="row">
						<div class="col-md-4">
							
							<!-- START WIDGET SLIDER -->
							<div class="widget widget-default widget-carousel">
								<div class="owl-carousel" id="owl-example">
									<div>                                    
										<div class="widget-title">Total Visitors</div>                                                                        
										<div class="widget-subtitle">27/08/2014 15:23</div>
										<div class="widget-int">3,548</div>
									</div>
									<div>                                    
										<div class="widget-title">Returned</div>
										<div class="widget-subtitle">Visitors</div>
										<div class="widget-int">1,695</div>
									</div>
									<div>                                    
										<div class="widget-title">New</div>
										<div class="widget-subtitle">Visitors</div>
										<div class="widget-int">1,977</div>
									</div>
								</div>                            
							</div>         
							<!-- END WIDGET SLIDER -->
							
						</div>
						<div class="col-md-4">
							
							<!-- START WIDGET MESSAGES -->
							<div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
								<div class="widget-item-left">
									<span class="fa fa-refresh"></span>
								</div>                             
								<div class="widget-data">
									<div class="widget-int num-count">48</div>
									<div class="widget-title">New messages</div>
									<div class="widget-subtitle">In your mailbox</div>
								</div>
							</div>                            
							<!-- END WIDGET MESSAGES -->
									
						</div>
						<!-- COMUNICADOS -->
						<div class="col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Comunicados</h3>         
									<ul class="panel-controls">
										<li><a href="#" class="control-primary"><span class="fa fa-plus"></span></a></li>
									</ul>
								</div>
								<div class="panel-body list-group list-group-contacts">                                
									<a href="#" class="list-group-item">
										<div class="list-group-status status-online"></div>
										<img src="assets/images/users/user4.jpg" class="pull-left" alt="Brad Pitt"/>
										<span class="contacts-title">Brad Pitt</span>
										<p>Actor and Film Producer</p>
									</a>
									<a href="#" class="list-group-item">                                 
										<div class="list-group-status status-online"></div>
										<img src="assets/images/users/user.jpg" class="pull-left" alt="Dmitry Ivaniuk"/>
										<span class="contacts-title">Dmitry Ivaniuk</span>
										<p>Web Developer/Designer</p>                                        
									</a>                                
									<a href="#" class="list-group-item">                                    
										<div class="list-group-status status-away"></div>
										<img src="assets/images/users/user3.jpg" class="pull-left" alt="Nadia Ali"/>
										<span class="contacts-title">Nadia Ali</span>
										<p>Singer-Songwriter</p>                                        
									</a>                                                                
									<a href="#" class="list-group-item">         
										<div class="list-group-status status-offline"></div>
										<img src="assets/images/users/user2.jpg" class="pull-left" alt="John Doe"/>
										<span class="contacts-title">John Doe</span>
										<p>UI/UX Designer</p>                                                             
									</a>                                
								</div>
							</div>                            
						</div>
						<!-- COMUNICADOS -->
					</div>
					<div class="row">
						<div class="col-md-4">
						</div>
						<div class="col-md-4">
						</div>
						<!-- EVENTOS -->
						<div class="col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Eventos</h3>         
									<ul class="panel-controls">
										<li><a href="#" class="control-primary"><span class="fa fa-plus"></span></a></li>
									</ul>
								</div>
								<div class="panel-body list-group list-group-contacts">                                
									<a href="#" class="list-group-item">
										<div class="list-group-status status-online"></div>
										<img src="assets/images/users/user4.jpg" class="pull-left" alt="Brad Pitt"/>
										<span class="contacts-title">Brad Pitt</span>
										<p>Actor and Film Producer</p>
									</a>
									<a href="#" class="list-group-item">                                 
										<div class="list-group-status status-online"></div>
										<img src="assets/images/users/user.jpg" class="pull-left" alt="Dmitry Ivaniuk"/>
										<span class="contacts-title">Dmitry Ivaniuk</span>
										<p>Web Developer/Designer</p>                                        
									</a>                                
									<a href="#" class="list-group-item">                                    
										<div class="list-group-status status-away"></div>
										<img src="assets/images/users/user3.jpg" class="pull-left" alt="Nadia Ali"/>
										<span class="contacts-title">Nadia Ali</span>
										<p>Singer-Songwriter</p>                                        
									</a>                                                                
									<a href="#" class="list-group-item">         
										<div class="list-group-status status-offline"></div>
										<img src="assets/images/users/user2.jpg" class="pull-left" alt="John Doe"/>
										<span class="contacts-title">John Doe</span>
										<p>UI/UX Designer</p>                                                             
									</a>                                
								</div>
							</div>                            
						</div>
						<!-- EVENTOS -->
					</div>
						
				</div>
				<!-- END PAGE CONTENT WRAPPER -->                
			</div>            
			<!-- END PAGE CONTENT -->
		</div>
		<!-- END PAGE CONTAINER -->

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->

        <!-- START PRELOADS -->
        <audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>
        <!-- END PRELOADS -->                 
        
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>        
        <!-- END PLUGINS -->

        <!-- START PLUGINS -->
        <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>        
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->        
        <script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>        
        <script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="js/plugins/scrolltotop/scrolltopcontrol.js"></script>
        
        <script type="text/javascript" src="js/plugins/morris/raphael-min.js"></script>
        <script type="text/javascript" src="js/plugins/morris/morris.min.js"></script>       
        <script type="text/javascript" src="js/plugins/rickshaw/d3.v3.js"></script>
        <script type="text/javascript" src="js/plugins/rickshaw/rickshaw.min.js"></script>
        <script type='text/javascript' src='js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>
        <script type='text/javascript' src='js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'></script>                
        <script type='text/javascript' src='js/plugins/bootstrap/bootstrap-datepicker.js'></script>                
        <script type="text/javascript" src="js/plugins/owl/owl.carousel.min.js"></script>                 
        
        <script type="text/javascript" src="js/plugins/moment.min.js"></script>
        <script type="text/javascript" src="js/plugins/daterangepicker/daterangepicker.js"></script>
        <!-- END THIS PAGE PLUGINS-->        

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="js/plugins.js"></script>        
        <script type="text/javascript" src="js/actions.js"></script>
        
        <script type="text/javascript" src="js/demo_dashboard.js"></script>
        <!-- END TEMPLATE -->        
		
		<!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="css/theme-blue.css"/>
		<link rel="stylesheet" type="text/css" id="theme" href="css/fontawesome/font-awesome.css"/>
        <!-- EOF CSS INCLUDE -->
    <!-- END SCRIPTS -->         
    </body>






